<table class="w3-table w3-striped w3-bordered">
  <tr>
    <th>Name</th>
    <th>Lecturer</th>
  </tr>
 
  <% @lectures.each do |lecture| %>
    <tr>
      <td><%= lecture.name %></td>
      <td><%= lecture.lecturer.login %></td>
    </tr>
  <% end %>
</table>

<div class="w3-center w3-margin">
  <%= link_to 'New Lecture', new_lecture_path, :class => "w3-button w3-light-blue" %>
</div>
