<table class="w3-table w3-striped w3-bordered">
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.role %></td>
    </tr>
  <% end %>
</table>

<div class="w3-center w3-margin">
  <%= link_to 'New User', new_user_path, :class => "w3-button w3-light-blue" %>
</div>
