<%= form_tag reset_password_path, :class => "w3-container w3-card-4 w3-margin-top", :style => "max-width: 320px; margin: auto", :method => :get  do |f| %>

  <p>
    <%= text_field_tag :login, nil, :class => "w3-input" %>
    <%= label_tag :login, "Username" %>
  </p>
  <p><%= submit_tag 'Next', class: "w3-button w3-amber" %></p>
<% end %>
