<% if object.errors.any? %>
  <div class="w3-panel w3-red">
    <h5>Found errors while saving</h5>
    <ul class=w3-ul">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
